@use '../utils/mixins.scss' as mix;

.divider {
  padding: 0;
  margin: 120px 0 56px;
  width: 100%;
  background-image: url(../images/divider.png);
  background-size: cover;
  background-position: center;


  @include mix.on-tablet {
    height: 400px;
  }

  @include mix.on-desktop {
    height: 460px;
  }
}
