@use '../utils/mixins.scss' as mix;

.header {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/bg-general.png');
  background-size: cover;
  box-sizing: border-box;

  &__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__bottom {
    padding-bottom: 40px;

    @include mix.on-tablet {
      padding-bottom: 65px;
    }
  }

  &__title {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    width: fit-content;
    font-size: 36px;
    line-height: 100%;
    margin: 0;
    padding: 0;

    @include mix.on-tablet {
      font-size: 48px;
    }
  }
}
