@use '../utils/variables.scss' as *;
@use '../utils/mixins.scss' as mix;

.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #e5e6e8;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  overflow: auto;

  &__top {
    position: sticky; /* to keep cross always visible */
    top: 0;
    z-index: 1;
    background-color: #e5e5e5;
  }
  &__nav {
    margin-bottom: 48px;
    margin-top: 32px;

    @include mix.on-tablet {
      margin-top: 56px;
    }
  }

  &__number {
    font-size: 16px;
    color: $main-color;
    text-decoration: none;
    line-height: 140%;
    letter-spacing: 2px;
    display: block;
    padding-bottom: 16px;
  }
  &__call {
    font-size: 16px;
    color: $main-color;
    text-decoration: none;
    line-height: 140%;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    width: fit-content;
    padding-bottom: 4px;
    border-bottom: 1px solid $main-color;
  }
}
