@use '../utils/mixins.scss' as mix;
@use '../utils/variables.scss' as vars;

.product {
  display: flex;
  line-height: 140%;
  flex-direction: column;
  font-weight: 700;
  margin: 0;


  &__photo {
    width: 100%;
    align-self: center;
    margin: 0 0 24px;
    
    @include mix.hover(transform, scale(1.04));
  }

  &__middle-title {
    font-size: 18px;
    margin: 0 0 8px;
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 12px;
  }
  &__price {
    font-weight: 700;
    margin: 0;
  }
}
