@use '../utils/mixins.scss' as mix;

.recommended {
  &__products {
    @include mix.page-grid;

    row-gap: 40px;
  }
}

.recommended__product {
  grid-column: 1 / -1;

  @include mix.on-tablet {
    grid-column: 2/-2;
  }

  @include mix.on-desktop {
    grid-column: span 4;
  }
}
