@use '../utils/variables.scss' as vars;
@use '../utils/mixins.scss' as mix;

.section-title {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: vars.$base-title-fs;
  margin: 0 0 48px;

  @include mix.on-tablet {
    font-size: vars.$tablet-title-fs;
    margin: 0 0 56px;
    line-height: 40px;
  }

  @include mix.on-desktop {
    font-size: vars.$desktop-title-fs;
    margin: 0 0 56px;
  }
}

.section-title--align--left {
  text-align: left;
}
