@use './utils/mixins.scss' as mix;
@use './utils/variables.scss' as vars;
@use './blocks/header.scss';
@use './blocks/icon.scss';
@use './blocks/menu.scss';
@use './blocks/nav';
@use './blocks/page';
@use './blocks/top-bar.scss';
@use './blocks/sections.scss';
@use './blocks/product.scss';
@use './blocks/about-us.scss';
@use './blocks/contacts.scss';
@use './blocks/recommended.scss';
@use './blocks/category.scss';
@use './blocks/divider.scss';

.main {
  margin-top: 64px;
  margin-bottom: 120px;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
}

.input-general {
  line-height: 48px;
  padding-right: 2px;
  color: vars.$hint-color;
  background-color: vars.$interactive-bg;
  border-radius: 8px;
  transition: all vars.$transition-duration;
  border: 1px solid vars.$interactive-bg;
  text-indent: 16px;
  &:hover {
    cursor: pointer;
    color: vars.$main-color;
    box-sizing: border-box;
    border: 1px solid vars.$interactive-border-color;
  }
  &:focus {
    border: 1px solid vars.$main-color;
    color: vars.$main-color;
  }
}

.button-general {
  box-sizing: border-box;
  height: 56px;
  border-radius: 8px;
  background: vars.$main-color;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all vars.$transition-duration;
  &:hover {
    cursor: pointer;
    background-color: vars.$interactive-bg;
    border: 2px solid vars.$button-border-color;
    color: vars.$main-color;
  }
  &:active {
    background-color: vars.$interactive-active-color;
    color: #fff;
  }
}
