$main-color: #292929;
$interactive-bg: #f8f8fa;
$button-border-color: #f0f1f4;
$interactive-active-color: #111;
$interactive-border-color: #d5d7de;
$transition-duration: 0.3s;
$hint-color: #7e7e83;
$contact-information-color: #9393a3;
$phone-width: 320px;
$tablet-width: 744px;
$desktop-width: 1260px;
$base-title-fs: 32px;
$tablet-title-fs: 40px;
$desktop-title-fs: 48px;
$middle-title-fs: 18px;
